[submodule "subword-segmentation"]
	path = legros
	url = git@github.com:ufal/subword-segmentation
[submodule "legros"]
	path = legros
	url = git@github.com:ufal/legros
[submodule "sentencepiece"]
	path = 3rd_party/sentencepiece
	url = git@github.com:google/sentencepiece
